# JAHFAITH IROKANULO

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing the dataset.

data = pd.read_csv('Energy_Consumption_data.csv')
data.head()

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
#1
# List concatenation using .extend

A = [1,2,3,4,5,6]
B = [13,21,34]

In [4]:
A.extend(B)

In [5]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [26]:
#2
# Creating an Identity matrix.

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
#3
# Which fuel type code has the lowest average fuel cost per unit burned?

sum_by_fuel_code = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()
sum_by_fuel_code

fuel_type_code_pudl
coal        576254.381
gas         156891.829
nuclear    4053318.428
oil        1361824.819
other         3048.394
waste         8607.492
Name: fuel_cost_per_unit_burned, dtype: float64

In [8]:
count_by_fuel_code = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].count()
count_by_fuel_code

fuel_type_code_pudl
coal        8547
gas        11486
nuclear      818
oil         8064
other        167
waste        441
Name: fuel_cost_per_unit_burned, dtype: int64

In [9]:
avg_by_fuel_code = sum_by_fuel_code / count_by_fuel_code
avg_by_fuel_code

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [10]:
avg_by_fuel_code.sort_values(ascending=True)

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
#4
# What is the standard deviation and 75th percentile of the fuel_mmbtu_per_unit?
# Standard deviation.

data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [12]:
# 75th Percentile.

np.percentile(data['fuel_mmbtu_per_unit'], 75)

17.006

In [13]:
# 5
# What is the skewness and kurtosis for the fuel quantity burned?
# Skewness.

data['fuel_qty_burned'].skew()

15.851495469109503

In [14]:
# Kurtosis

data['fuel_qty_burned'].kurt()

651.3694501337732

In [15]:
#6
# Which feature has missing values and what is the total number of missing values and percentage
# of the missing rows as a factor of the total number of rows, in three decimal places.

# Checking for missing values.
data.isnull().sum()

Unnamed: 0                        0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
data.shape

(29523, 12)

In [17]:
# Feature = fuel_unit
# Total = 180

# Finding the percentage of missing rows as a factor of the total number of rows in the dataset.
Percent = (180 / 29523) * 100
Percent

0.609694136774718

In [ ]:
# 0.610%

In [ ]:
#7

# Categorical and mode imputation.

In [18]:
#8
# Which of the features has the second and third lowest correlation with the fuel cost per unit burned?

corr_matrix = data.corr()
corr_matrix

,Unnamed: 0,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
Unnamed: 0,1.000000,0.095202,0.998994,0.013102,-0.112112,0.013806,-0.014195,0.010230
utility_id_ferc1,0.095202,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.998994,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,0.013102,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.112112,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,0.013806,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.014195,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.010230,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [19]:
corr_matrix['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
Unnamed: 0                      0.013806
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
# 2nd lowest = fuel_qty_burned.
# 3rd lowest = fuel_mmbtu_per_unit.

In [20]:
#9
# For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

data.groupby(['fuel_type_code_pudl', 'report_year'])['fuel_cost_per_unit_burned'].sum()

fuel_type_code_pudl  report_year
coal                 1994            14984.572
                     1995            14571.785
                     1996            12694.803
                     1997            43742.178
                     1998            11902.597
                     1999            16303.468
                     2000           100428.831
                     2001            15109.012
                     2002             9171.164
                     2003            30954.110
                     2004             9632.063
                     2005            11107.182
                     2006            12402.684
                     2007            12965.171
                     2008            14331.348
                     2009            45554.858
                     2010            88627.745
                     2011            17001.015
                     2012            17546.097
                     2013            17629.860
                     2014            15412.197
                     2015            13338.235
                     2016            11100.925
                     2017            10254.284
                     2018             9488.197
gas                  1994            10792.496
                     1995             9087.905
                     1996             1467.390
                     1997             1518.471
                     1998             7475.596
                                       ...
other                2012              224.123
                     2013              182.494
                     2014                0.661
                     2015                0.595
                     2016                0.609
waste                1994               52.762
                     1995             -192.699
                     1996               88.092
                     1997              137.433
                     1998              238.109
                     1999              143.025
                     2000             -489.141
                     2001              217.499
                     2002              254.438
                     2003              161.973
                     2004              272.512
                     2005              313.457
                     2006              423.847
                     2007              427.014
                     2008              474.022
                     2009              739.884
                     2010              755.157
                     2011              517.912
                     2012              589.791
                     2013              609.411
                     2014              591.594
                     2015              629.270
                     2016              539.079
                     2017              452.079
                     2018              660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [21]:
# Percentage change = ((new - old) / old) * 100

perc_change = ((11902.597-14984.572) / 14984.572) * 100
perc_change

-20.567654518260518

In [22]:
#10
# Which year has the highest average fuel cost per unit delivered?

sum_by_year = data.groupby('report_year')['fuel_cost_per_unit_delivered'].sum()
sum_by_year

report_year
1994    7.859053e+04
1995    3.931506e+04
1996    1.000602e+07
1997    1.218738e+07
1998    3.178799e+05
1999    2.682921e+04
2000    1.352903e+06
2001    8.142834e+04
2002    5.735121e+04
2003    6.740849e+04
2004    1.663129e+05
2005    5.258506e+04
2006    4.805125e+04
2007    5.476283e+04
2008    7.194631e+04
2009    7.975923e+05
2010    1.158381e+05
2011    7.412059e+04
2012    7.581617e+04
2013    2.065968e+05
2014    2.256952e+05
2015    3.569033e+05
2016    1.074344e+05
2017    4.587348e+04
2018    4.748057e+05
Name: fuel_cost_per_unit_delivered, dtype: float64

In [23]:
count_by_year = data.groupby('report_year')['fuel_cost_per_unit_delivered'].count()
count_by_year

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: fuel_cost_per_unit_delivered, dtype: int64

In [24]:
avg_cost_by_year = sum_by_year / count_by_year
avg_cost_by_year

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [25]:
avg_cost_by_year.sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64